.counter {
  /* TODO */
  display:flex;
  width:100px;
  justify-content: space-between;
  align-items: center;
}
.counter>button{
  padding:5px 10px;
  background-color: #5b8ef3;
  color:white;
  font-weight: bold;
  border:none;
}
